<nav class="py-2 bg-light navbar-light border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav m-auto">
      <li class="nav-item">
        <a routerLink="home" class="btn btn-outline-secondary nav-link px-2 m-2">Home</a>
      </li>
      <li class="nav-item">
        <a
          routerLink="/repositories"
          routerLinkActive="active"
          class="btn btn-outline-secondary nav-link px-2 m-2"
          >Repo Search</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/about"
          routerLinkActive="active"
          class="btn btn-outline-secondary nav-link px-2 m-2"
          >About</a
        >
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>