#main{
  background-color: #080808;
}
#userDetails{
    background: #3b3a3b!important; 
}
#aboutUser{
    background-color: rgb(224, 224, 223)!important;
}

#repoDisplay{
    background-color: rgb(32, 54, 126)!important;
    /* height: 50vh; */
}
ul>li{
    list-style-type: none;
    margin: 15px;
}